/* Fond general  */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Affichage du score */
.score-board {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    z-index: 1000;
}

/* Conteneur de jeu */
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Style general des bulles */
.bubble {
    position: absolute;
    bottom: -100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    opacity: 0.9;
    animation: floatUp linear;
}

/* Animation des bulles vers le haut */
@keyframes floatUp {
    to {
        transform: translateY(-110vh);
        opacity: 0;
    }
}